
p{
   color:red;
   font-size:22pt;        
}
p#gruby_sirocki
{
    color: green;
    font-size:17pt;
    font-weight: bold;
}
#dlawszystkich_sirocki
{
    color:yellow;
    font-size:10;
    font-famyly:Arial;
}